<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="EmailConfigurationProvider" type="SICAU.QSS.Common.EmailConfigurationProvider, SICAU.QSS.Common" />
    <!--log4net区域块注册-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="QssDbContext" connectionString="data source=10.2.130.103;initial catalog=QSSTEST;integrated security=false;uid=Qss;password=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <EmailConfigurationProvider name="四川农业大学问卷调查与投票系统" account="admin.qss@ydath.cn" password="123456" server="smtp.exmail.qq.com" port="25" isSSL="false" />
  <!--log4net配置-->
  <log4net>
    <!--根记录者-->
    <root>
      <!--阈值：-->
      <level value="ALL" />
      <!--记录者配置，观察者模式-->
      <appender-ref ref="LogFileAppenderByDate" />
      <appender-ref ref="SmtpAppender" />
    </root>

    <!--数据库和邮件记录者-->
    <logger name="DbAndSmtpLogger">
      <!--记录阈值--> 
      <level value="ALL" />
      <!--数据库记录-->
      <appender-ref ref="AdoNetAppender" />
      <!--邮件记录-->
      <!--<appender-ref ref="SmtpAppender" />-->
    </logger>

    <!--数据库记录配置 注意：需要建立相应的表-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!--缓冲区，根据访问量或者是写入数据的少来调整，如果单位时间内写的次数比较多，则将缓冲区调大一点，反之，调小一点以保证数据的及时性-->
      <bufferSize value="0" />
      <!--ADO.NET所在程序集-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--数据库连接字符串-->
      <connectionString value="data source=10.2.130.103;initial catalog=QSSTEST;integrated security=false;uid=Qss;password=123456;persist security info=True;" />
      <!--插入日志的sql命令-->
      <commandText value="INSERT INTO Logs ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <!--命令中各参数说明-->
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="3000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <!--邮件记录配置-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <!--发送邮件的配置-->
      <authentication value="Basic" />
      <to value="2512303162@qq.com" />
      <from value="admin.qss@ydath.cn" />
      <username value="admin.qss@ydath.cn" />
      <password value="123456" />
      <subject value="四川农业大学问卷投票系统报错信息" />
      <smtpHost value="smtp.exmail.qq.com" />
      <!--缓冲区打小-->
      <bufferSize value="0" />
      <!--超过部分是否丢弃-->
      <lossy value="false" />
      <!--设定发送邮件的类型阈值：但是好像没什么用-->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <!--模板样式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
      <!--因为上面的evaluation没有用，所以才引入了此过滤器-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--仅当级别大于Error时才发送邮件-->
        <param name="LevelMin" value="ERROR" />
        <!--<param name="LevelMax" value="INFO" />-->
      </filter>
    </appender>

    <!--更多appender配置详见：http://logging.apache.org/log4net/release/config-examples.html#smtpappender-->
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--TODO:部署时一定要修改-->
    <!--系统自动任务中，发送邮件时所需要的该网站的域名和端口-->
    <add key="SendEmailUrl" value="http://test.qss.ydath.cn"/>
    <!--<add key="SendEmailUrl" value="http://localhost:52954"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <!--<customErrors mode="Off" />-->
    <customErrors mode="On" defaultRedirect="~/Home/ErrorHandle">
      <error statusCode="404" redirect="~/Home/ErrorHandle/404"/>
      <error statusCode="500" redirect="~/Home/ErrorHandle/500"/>
    </customErrors>
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>