
<div class="footer" id="footer">
    <div class="container-fluid column">
        <div class="col-md-6">
            <hr />
            <p><b>问卷调查与投票系统</b></p>
            <p style="line-height: 25px">
                以用户为中心的设计理念，专注用户体验设计。本系统操作简单，页面简洁美观，是校园内问卷调查与投票需求的绝佳方案。
            </p>
        </div>
        <div class="col-md-3">
            <hr />
            <p><b>友情链接</b></p>
            <p><a href="http://jiaowu.sicau.edu.cn/web/web/web/index.asp">四川农业大学教务处</a></p>
            <p><a href="http://www.sicau.edu.cn/">四川农业大学</a></p>
            <p><a href="http://xxgc.sicau.edu.cn/">信息工程学院</a></p>
        </div>
        <div class="col-md-3" id="sysContact">
            <hr />
            <p><b>联系我们</b></p>
        </div>
    </div>
    <div class="copyright">
        <div class="container clearfix">
            <span>Copyright &copy; <span id="copyrightTime"></span>.SICAU All rights reserved.</span>
        </div>
    </div>
</div>
